<section class="min-h-screen grid place-content-center place-items-center">
	<img src="/img/useless.jpg" alt="">
	<span class="text-3xl font-bold">
		Proyecto en proceso, para el negocio Delicias de Amor
	</span>
	<span class="text-xl italic">
		"Tienes que votar por el lapiz carajo ah"
	</span>
</section>
